.custom-checkbox input[type="checkbox"]{
    display: none;
    
    }
    .menu{
      display: none;
      list-style-type: none; 
      padding: 0;  
      background-color: gray; 
      width: 6rem;
    }
    .custom-checkbox label[for="chk"]{
        cursor: pointer;
    }
    .custom-checkbox input[type="checkbox"]:checked ~ .menu{
        display: block;
        }
    .menu li:hover{ 
        cursor: pointer;
        color: #fff;
        content:none;
        background-color: black;
        width: 6rem;
        height: 1rem;        
    }