.foot{
    background-color: black;
    color: white;
}
.thead{
    background-color: black;
    color: white;
}
.fiyat{
    text-align: right;
}
 tr :first-child{
    text-align: left;
}
tbody tr :nth-child(odd){
    text-align: left;
    background-color: darkgrey;
}

.button{
    display: none;
}
table{
    margin: 2rem;
}

div{
    margin-left:140px;
    }
    button:hover{
        background-color: blueviolet;
        
    }
    button a{
        color: black;
    }
