:root{
  --color1: red;
  --color2: rgb(233, 172, 172);
}
.renk{
display: flex;
}

.kutu1 {
background-color: var(--color1);
flex:0 1 200px;
color: var(--color1)
}

.kutu2{
background-color: var(--color2);
flex: 1 1 100px;
}
.container {
  display: flex;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color1);
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin:2rem;
}

.circle::before {
  content: counter(circle-counter);
  counter-increment: circle-counter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}
.text {
  font-size: 30px;
  font-weight: 900;
}
