body{
  background-color: aliceblue;
  padding: 1rem;
}
.menu-buton {
    border:dimgrey;
    background-color: black;
    cursor: pointer;
    font-size: 24px;
  }
  
  .menu-buton i {
    color:white;
  }
  
.menu {
    display: none;
    position: absolute;
    width: 200px;
    padding: 0;
    list-style: none;
    background-color: rgb(174, 172, 172);
    border: 1px solid white;
    color: white
  }
  

  .menu-buton:focus + .menu,
  .menu-btn:active + .menu {
    display: block;
  }
  
 
  

  
  .menu li {
    display: block;
   padding: 10px;
    text-decoration: none;
    
    text-align: center;
    color: white
  }
  
 
  .menu li:hover {
    background-color: black;
    color: white
  }
 
  
  
  
  
  